<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quartz.dao.PlayersStatisMapper">
  <resultMap id="BaseResultMap" type="com.quartz.model.PlayersStatis">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:05.
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="team_id" jdbcType="VARCHAR" property="teamId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type_value" jdbcType="VARCHAR" property="typeValue" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="player_id" jdbcType="INTEGER" property="playerId" />
    <result column="season_id" jdbcType="INTEGER" property="seasonId" />
    <result column="season_year" jdbcType="VARCHAR" property="seasonYear" />
    <result column="team_cn_name" jdbcType="VARCHAR" property="teamCnName" />
    <result column="tournament_id" jdbcType="INTEGER" property="tournamentId" />
    <result column="tournament_cn_name" jdbcType="VARCHAR" property="tournamentCnName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:05.
    -->
    id, team_id, type_id, type_value, type_name, player_id, season_id, season_year, team_cn_name, 
    tournament_id, tournament_cn_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:05.
    -->
    select 
    <include refid="Base_Column_List" />
    from players_statis
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:05.
    -->
    delete from players_statis
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.quartz.model.PlayersStatis">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:05.
    -->
    insert into players_statis (id, team_id, type_id, 
      type_value, type_name, player_id, 
      season_id, season_year, team_cn_name, 
      tournament_id, tournament_cn_name)
    values (#{id,jdbcType=INTEGER}, #{teamId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, 
      #{typeValue,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{playerId,jdbcType=INTEGER}, 
      #{seasonId,jdbcType=INTEGER}, #{seasonYear,jdbcType=VARCHAR}, #{teamCnName,jdbcType=VARCHAR}, 
      #{tournamentId,jdbcType=INTEGER}, #{tournamentCnName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.quartz.model.PlayersStatis">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:05.
    -->
    insert into players_statis
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="teamId != null">
        team_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeValue != null">
        type_value,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="playerId != null">
        player_id,
      </if>
      <if test="seasonId != null">
        season_id,
      </if>
      <if test="seasonYear != null">
        season_year,
      </if>
      <if test="teamCnName != null">
        team_cn_name,
      </if>
      <if test="tournamentId != null">
        tournament_id,
      </if>
      <if test="tournamentCnName != null">
        tournament_cn_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teamId != null">
        #{teamId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeValue != null">
        #{typeValue,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="playerId != null">
        #{playerId,jdbcType=INTEGER},
      </if>
      <if test="seasonId != null">
        #{seasonId,jdbcType=INTEGER},
      </if>
      <if test="seasonYear != null">
        #{seasonYear,jdbcType=VARCHAR},
      </if>
      <if test="teamCnName != null">
        #{teamCnName,jdbcType=VARCHAR},
      </if>
      <if test="tournamentId != null">
        #{tournamentId,jdbcType=INTEGER},
      </if>
      <if test="tournamentCnName != null">
        #{tournamentCnName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.quartz.model.PlayersStatis">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:05.
    -->
    update players_statis
    <set>
      <if test="teamId != null">
        team_id = #{teamId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeValue != null">
        type_value = #{typeValue,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="playerId != null">
        player_id = #{playerId,jdbcType=INTEGER},
      </if>
      <if test="seasonId != null">
        season_id = #{seasonId,jdbcType=INTEGER},
      </if>
      <if test="seasonYear != null">
        season_year = #{seasonYear,jdbcType=VARCHAR},
      </if>
      <if test="teamCnName != null">
        team_cn_name = #{teamCnName,jdbcType=VARCHAR},
      </if>
      <if test="tournamentId != null">
        tournament_id = #{tournamentId,jdbcType=INTEGER},
      </if>
      <if test="tournamentCnName != null">
        tournament_cn_name = #{tournamentCnName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quartz.model.PlayersStatis">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:05.
    -->
    update players_statis
    set team_id = #{teamId,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=VARCHAR},
      type_value = #{typeValue,jdbcType=VARCHAR},
      type_name = #{typeName,jdbcType=VARCHAR},
      player_id = #{playerId,jdbcType=INTEGER},
      season_id = #{seasonId,jdbcType=INTEGER},
      season_year = #{seasonYear,jdbcType=VARCHAR},
      team_cn_name = #{teamCnName,jdbcType=VARCHAR},
      tournament_id = #{tournamentId,jdbcType=INTEGER},
      tournament_cn_name = #{tournamentCnName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>