<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quartz.dao.PlayersMissingMapper">
  <resultMap id="BaseResultMap" type="com.quartz.model.PlayersMissing">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:05.
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tournament_id" jdbcType="INTEGER" property="tournamentId" />
    <result column="player_id" jdbcType="INTEGER" property="playerId" />
    <result column="player_name" jdbcType="VARCHAR" property="playerName" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="registeredTime" jdbcType="TIMESTAMP" property="registeredtime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:05.
    -->
    id, tournament_id, player_id, player_name, reason, registeredTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:05.
    -->
    select 
    <include refid="Base_Column_List" />
    from players_missing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:05.
    -->
    delete from players_missing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.quartz.model.PlayersMissing">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:05.
    -->
    insert into players_missing (id, tournament_id, player_id, 
      player_name, reason, registeredTime
      )
    values (#{id,jdbcType=INTEGER}, #{tournamentId,jdbcType=INTEGER}, #{playerId,jdbcType=INTEGER}, 
      #{playerName,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, #{registeredtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.quartz.model.PlayersMissing">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:05.
    -->
    insert into players_missing
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tournamentId != null">
        tournament_id,
      </if>
      <if test="playerId != null">
        player_id,
      </if>
      <if test="playerName != null">
        player_name,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="registeredtime != null">
        registeredTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tournamentId != null">
        #{tournamentId,jdbcType=INTEGER},
      </if>
      <if test="playerId != null">
        #{playerId,jdbcType=INTEGER},
      </if>
      <if test="playerName != null">
        #{playerName,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="registeredtime != null">
        #{registeredtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.quartz.model.PlayersMissing">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:05.
    -->
    update players_missing
    <set>
      <if test="tournamentId != null">
        tournament_id = #{tournamentId,jdbcType=INTEGER},
      </if>
      <if test="playerId != null">
        player_id = #{playerId,jdbcType=INTEGER},
      </if>
      <if test="playerName != null">
        player_name = #{playerName,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="registeredtime != null">
        registeredTime = #{registeredtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quartz.model.PlayersMissing">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:05.
    -->
    update players_missing
    set tournament_id = #{tournamentId,jdbcType=INTEGER},
      player_id = #{playerId,jdbcType=INTEGER},
      player_name = #{playerName,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      registeredTime = #{registeredtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>