<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quartz.dao.RankingMapper">
  <resultMap id="BaseResultMap" type="com.quartz.model.Ranking">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:06.
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cn_name" jdbcType="VARCHAR" property="cnName" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="group_cn_name" jdbcType="VARCHAR" property="groupCnName" />
    <result column="tournament_id" jdbcType="INTEGER" property="tournamentId" />
    <result column="season_id" jdbcType="INTEGER" property="seasonId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:06.
    -->
    id, cn_name, en_name, group_id, group_cn_name, tournament_id, season_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:06.
    -->
    select 
    <include refid="Base_Column_List" />
    from ranking
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:06.
    -->
    delete from ranking
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.quartz.model.Ranking">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:06.
    -->
    insert into ranking (id, cn_name, en_name, 
      group_id, group_cn_name, tournament_id, 
      season_id)
    values (#{id,jdbcType=INTEGER}, #{cnName,jdbcType=VARCHAR}, #{enName,jdbcType=VARCHAR}, 
      #{groupId,jdbcType=INTEGER}, #{groupCnName,jdbcType=VARCHAR}, #{tournamentId,jdbcType=INTEGER}, 
      #{seasonId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.quartz.model.Ranking">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:06.
    -->
    insert into ranking
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cnName != null">
        cn_name,
      </if>
      <if test="enName != null">
        en_name,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="groupCnName != null">
        group_cn_name,
      </if>
      <if test="tournamentId != null">
        tournament_id,
      </if>
      <if test="seasonId != null">
        season_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cnName != null">
        #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        #{enName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="groupCnName != null">
        #{groupCnName,jdbcType=VARCHAR},
      </if>
      <if test="tournamentId != null">
        #{tournamentId,jdbcType=INTEGER},
      </if>
      <if test="seasonId != null">
        #{seasonId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.quartz.model.Ranking">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:06.
    -->
    update ranking
    <set>
      <if test="cnName != null">
        cn_name = #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        en_name = #{enName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="groupCnName != null">
        group_cn_name = #{groupCnName,jdbcType=VARCHAR},
      </if>
      <if test="tournamentId != null">
        tournament_id = #{tournamentId,jdbcType=INTEGER},
      </if>
      <if test="seasonId != null">
        season_id = #{seasonId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quartz.model.Ranking">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:06.
    -->
    update ranking
    set cn_name = #{cnName,jdbcType=VARCHAR},
      en_name = #{enName,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=INTEGER},
      group_cn_name = #{groupCnName,jdbcType=VARCHAR},
      tournament_id = #{tournamentId,jdbcType=INTEGER},
      season_id = #{seasonId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>