<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quartz.dao.RollballGameplayOddsMapper">
  <resultMap id="BaseResultMap" type="com.quartz.model.RollballGameplayOdds">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:06.
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rollball_gameplay_id" jdbcType="INTEGER" property="rollballGameplayId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="actvie" jdbcType="INTEGER" property="actvie" />
    <result column="outcome" jdbcType="INTEGER" property="outcome" />
    <result column="void_factor" jdbcType="VARCHAR" property="voidFactor" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:06.
    -->
    id, rollball_gameplay_id, type, value, actvie, outcome, void_factor
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:06.
    -->
    select 
    <include refid="Base_Column_List" />
    from rollball_gameplay_odds
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:06.
    -->
    delete from rollball_gameplay_odds
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.quartz.model.RollballGameplayOdds">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:06.
    -->
    insert into rollball_gameplay_odds (id, rollball_gameplay_id, type, 
      value, actvie, outcome, 
      void_factor)
    values (#{id,jdbcType=INTEGER}, #{rollballGameplayId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR}, #{actvie,jdbcType=INTEGER}, #{outcome,jdbcType=INTEGER}, 
      #{voidFactor,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.quartz.model.RollballGameplayOdds">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:06.
    -->
    insert into rollball_gameplay_odds
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rollballGameplayId != null">
        rollball_gameplay_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="actvie != null">
        actvie,
      </if>
      <if test="outcome != null">
        outcome,
      </if>
      <if test="voidFactor != null">
        void_factor,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rollballGameplayId != null">
        #{rollballGameplayId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="actvie != null">
        #{actvie,jdbcType=INTEGER},
      </if>
      <if test="outcome != null">
        #{outcome,jdbcType=INTEGER},
      </if>
      <if test="voidFactor != null">
        #{voidFactor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.quartz.model.RollballGameplayOdds">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:06.
    -->
    update rollball_gameplay_odds
    <set>
      <if test="rollballGameplayId != null">
        rollball_gameplay_id = #{rollballGameplayId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="actvie != null">
        actvie = #{actvie,jdbcType=INTEGER},
      </if>
      <if test="outcome != null">
        outcome = #{outcome,jdbcType=INTEGER},
      </if>
      <if test="voidFactor != null">
        void_factor = #{voidFactor,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quartz.model.RollballGameplayOdds">
    <!--
      WARNING - @mbggenerated
      Generated on 2019-11-13 10:46:06.
    -->
    update rollball_gameplay_odds
    set rollball_gameplay_id = #{rollballGameplayId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      actvie = #{actvie,jdbcType=INTEGER},
      outcome = #{outcome,jdbcType=INTEGER},
      void_factor = #{voidFactor,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>